<!DOCTYPE html>
<html>
<%- partial('_partials/head') %>
	<body class="markdown-body">
	  <%- partial('_partials/page-header') %>
	  	<%- body %>
	  <%- partial('_partials/page-footer') %>
	</body>
</html>
